<p id="notice"><%= notice %></p>

<p>
  <b>Full Name:</b>
  <%= @user.name%>
</p>
<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>
<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @user.dateofbirth %>
</p>
<p>
  <b>Age:</b>
  <%= @user.age %>
</p>


<p>
  <b>Location:</b>
  <%= @user.location %>
</p>
<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>primaryphoneno :</b>
  <%= @user.primaryphoneno %>
</p>
<p>
  <b>secondaryphonenoe:</b>
  <%= @user.secondaryphoneno%>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
